.hide_1,
.hide_2 {
  transition: 500ms;
  filter: blur(4px);
  opacity: 0;
}

.show_1,
.show_2 {
  transform: translateX(0);
  transition: 500ms;
  opacity: 1;
}

.hide_1 {
  transform: translateX(-100px);
}

.hide_2 {
  transform: translateY(-100px);
}

.shani_before,
.shani_after {
  filter: grayscale(100%) contrast(130%);
}

.shani_before:hover,
.shani_after:hover {
  filter: grayscale(0%) contrast(150%);
}
