.first_section {
  height: 100vh;
  background-image: url("../../../assets/images/main-pic.avif");
  background-size: cover;
  background-repeat: no-repeat;
}

.sec_section {
  height: 100vh;
}

.main_pic {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
